@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


.container1 {
    display:flex;
    width: 1536px;
    height: 753px
   
}

.configuracao-div1{
    background: #F7FAFC;
    width: 720px;
    /* height: 902px; */
    top: -2px;
    /* position: absolute; */
    background-attachment: fixed;
}

.adjust-img1 {
    width: 377px;
    height: 499px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 113px; 
    

} 


.configuracao-div2{

    background:#fcfcfc;
    width: 720px;
    /* flex-grow: 1; */
}